body {
    background-color: rgb(205, 205, 205);
}

h1 {
    color: rgb(10, 10, 10);
    margin: 10px;
}

h2,
label {
    color: rgb(10, 10, 10);
}

.tbg {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border: 1px solid;
    margin: 3px;
}

#inp {
    width: 65%;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}

#add {
    width: 25%;
    font-size: 150%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    white-space: nowrap;
}

#add:hover {
    background-color: rgb(200, 200, 200);
}

#add:active {
    background-color: rgb(170, 170, 170);
}

#daylist,
#weeklist,
#monthlist,
#generallist {
    display: grid;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    margin: 4px;
}

.dlist {
    display: block;
    width: 100%;
}

.ilist {
    border: none;
}

.blist {
    border: none;
    border-radius: 6px;
    background-color: rgb(210, 210, 210);
}

.blist:hover {
    background-color: rgb(140, 140, 140);
}

.blist:active {
    background-color: rgb(100, 100, 100);
}

.llist {
    border: none;
    font-size: 16px;
}

.tlist {
    display: block;
    font-size: 200%;
}
